{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="searchBar">
    <form method="get" action="{%url 'Characters' %}">
        <input type="text" class="searchInput" name="CharacterSearch" placeholder="Поиск...">
        <button type="submit" class="searchIcon">
            <img src="{% static 'image/searchIcon.svg' %}" alt="Search Icon">
        </button>
    </form>
</div>




<div class="CharactersCards">
    {% for character in characters %}
    
        <div class="characterCard">
            <a href = "{%url 'characterDetails' character.character_id%}">
            <div class="characterPhoto">
                <img src="{{ character.photo_url }}" alt="Character Photo" class="characterImage" style="width: 372px; height: 553px;">
            </div>
            <div class="characterDescriptionCard">
                <hr class="lineCharacter">
                <h2 class="CharacterNameOnCard">{{ character.name }}</h2>
                <p class="CharacterRaceOnCard">{{ character.race }}</p>
            </div>
            <div class="characterDescriptionCardLow">
                <p class="CharacterFeaturesOnCardHeader">Особенности:</p>
                <p class="CharacterFeaturesOnCard">{{ character.features }}</p>
            </div>
            </a>
            <form method="post" action="{% url 'addCharacter' character.character_id %}">
                {% csrf_token %}
                <button type="submit" class="addButton">
                    <div class="addIcon">
                        <img src="{% static 'image/plusIcon.svg' %}" alt="Add Icon">
                    </div>
                </button>
            </form>

        </div>
    
    {% endfor %}
</div>

<div class="BackCartIcon">
    <a href="{% url 'charactersOnMap' request_id %}">
        <div class="cartIcon">
            <img src="{% static 'image/CartIcon.svg' %}" alt="Cart Icon">
            <div class="cartIconCircle">
                <div class="cartIconNumber">{{ count_characters }}</div>
            
            </div>
        </div>      
        
    </a>
</div>
{% endblock %}